body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    position: relative;
}

h1 {
    color: #333;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    background-color: #ff9999;
    color: #fff;
}

button:hover {
    background-color: #ff6666;
}

/* Reduce size of images and videos */
img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center horizontally */
}

video {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure video appears above other content */
}

h1,
.buttons {
    position: relative;
    z-index: 600; /* Ensure other content appears above the video */
}
